@charset "utf-8";

/*!
 * ==================================================
 * FileName     core/_variables.scss
 * discription  CSS変数定義
 * ==================================================
 */

@layer minazuki {
    :root {
        /* グローバル変数 */
        --height-vh: calc(var(--vh, 1vh) * 100);
        --font-size-large: 2rem;
        --font-size-medium: 1.4rem;
        --font-size-small: 1.2rem;
        --scroll-bar-width: calc(100vw - 100%);
        --omit-scroll-vw: calc(100vw - var(--scroll-bar-width));
    }

    @media (600px <= width) {
        :root {
            --font-size-medium: 1.6rem;
        }
    }
}
